<div class="container-fluid NavBarOuterDiv">
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <a class="navbar-brand" routerLink="/"><img class="logo" src="freelancer-logo-light.svg" alt=""></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 align-items-center">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Hire Freelancers</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="#">Find Work</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="#">Solutions</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav gap-4 align-items-center">
                            <li class="nav-item">
                                <a class="nav-link active" routerLink="/login">Log In</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" routerLink="/signup">Sign Up</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" routerLink="">
                                    <button class="btn btn-primary-color">Post a Project</button>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
<div class="container-fluid banner">
    <div class="row">
        <img src="mobile-phone-v3.gif" alt="">
        <!-- <video autoplay loop muted playsinline class="px-0 bannerVideo" #videoElement>
            <source src="https://www.f-cdn.com/assets/main/en/assets/home/video/mobile-phone-v3.mp4" type="video/mp4">
        </video> -->
        <div class="bannerLayout">
            <div class="blr1">Hire the best freelancers for any job, online.</div>
            <div class="my-3 blr2">
                <ul>
                    <li>World's largest freelance marketplace</li>
                    <li>Any job you can possibly think of</li>
                    <li>Save up to 90% & get quotes for free</li>
                    <li>Pay only when you're 100% happy</li>
                </ul>
            </div>
            <div class="my-2 blr3">
                <button class="btn btn-lg btn-primary-color">Hire a Freelancer</button>
                <button class="btn btn-lg btn-outline-light ms-3">Earn Money Freelancing</button>
            </div>
        </div>
    </div>
</div>